@model PuntoVentaWeb.Entities.ProveedorEnt

@{
    ViewData["Title"] = "Actualizar Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalActualizarProveedorLabel">Actualizar Proveedor</h5>
        </div>
        <div class="modal-body">
            <form asp-action="ActualizarProveedor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="IdProveedor" class="control-label"></label>
                    <input asp-for="IdProveedor" class="form-control" readonly />
                    <span asp-validation-for="IdProveedor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumeroDocumento" class="control-label"></label>
                    <input asp-for="NumeroDocumento" class="form-control" />
                    <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Impuesto" class="control-label"></label>
                    <input asp-for="Impuesto" class="form-control" />
                    <span asp-validation-for="Impuesto" class="text-danger"></span>
                </div>

             

                <div class="form-group text-right">
                    <a asp-action="ConsultarProveedores" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Actualizar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
